body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: pink;
    border-radius: 8px;
    text-align: center ;
}

input {
    padding: 8px;
    width: 60%;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

.message {
    margin-top: 12px;
    font-weight: bold;
}

.attempts {
    margin-top: 8px;
    font-size: 14px;
}
